@page
@model MascotaFeliz.App.Frontend.Pages.AddVeterinarioModel
@{
}

<div class="container_16">
    <div class="wrapper">

        <div>
            <section class="FormularioVeterinario">
                <h4>Registrar Veterinario</h4>
                <input class="controls" type="int" name="Id" id="Id" placeholder="Ingrese su Cedula">
                <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese Apellidos">
                <input class="controls" type="text" name="Direccion" id="Direccion" placeholder="Ingrese su Direccion">
                <input class="controls" type="text" name="Telefono" id="Telefono" placeholder="Ingrese Telefono">
                <input class="controls" type="text" name="TarjetaProfesional" id="TarjetaProfesional" placeholder="Ingrese Tarjeta Profesional">
        
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="#">¿Ya tengo Cuenta?</a></p>
            </section>
        </div>
    </div><!--the end of wrapper-->
</div>
