@page
@model MascotaFeliz.App.Frontend.Pages.AddDuenoModel
@{
}

<body>
    <div class="container">
    <form action="">
        <div>
            <section class="FormularioDueno">
                <h4>Registrar Dueño</h4>
                <input class="controls" type="text" name="Id" id="Id" placeholder="Ingrese su Cedula">
                <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese Apellidos">
                <input class="controls" type="text" name="Direccion" id="Direccion" placeholder="Ingrese su Direccion">
                <input class="controls" type="text" name="Telefono" id="Telefono" placeholder="Ingrese Telefono">
                <input class="controls" type="text" name="Correo" id="Correo" placeholder="Ingrese Correo">
        
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="#">¿Ya tengo Cuenta?</a></p>
            </section>
        </div>
    </form>
</div>
</body>