@page
@model MascotaFeliz.App.Frontend.Pages.AddMascotasModel
@{
}

<div class="div-content">
                             
    				<!--==============================content================================-->
            <section id="content">         
                <div class="container_16">
                    <div class="wrapper">
                         <div>
                                <section class="FormularioMascotas">
                                    <h4>Registrar Mascotas</h4>
                                    <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Ingrese nombre de la Mascota">
                                    <input class="controls" type="text" name="Color" id="Color" placeholder="Ingrese Color">
                                    <input class="controls" type="text" name="Especie" id="Especie" placeholder="Ingrese Especie">
                                    <input class="controls" type="text" name="Raza" id="Raza" placeholder="Ingrese Raza">
                            
                                    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                                    <input class="botons" type="submit" value="Registrar">
                                    <p><a href="#">¿Ya tengo Cuenta?</a></p>
                                </section>
                            </div>
                    </div><!--the end of wrapper-->
                </div>
            </section>
    		</div>